.nav-container {
  width: 100%;
  background: $medium-grey;
  filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1));

}

.nav {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $medium-grey;

  .nav-logo {
    font-size: 1.375rem;
    font-weight: normal;
    color: $off-white;
  }

  .nav-links-right {
    display: flex;
    font-size: 0.875rem;
    color: $off-white;

    .nav-link {
      margin-left: 10px;
    }
  }
}

.fa-user-circle {
  margin: 2px 4px 0 0;
}